<ion-header>
  <ion-toolbar>
    <ion-title>Personajes</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="menu"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" *ngIf="chara">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>Ver personaje</ion-label>
        </ion-item>
        <form [formGroup]="formChara">
          <ion-card>
            <ion-item>
              <ion-avatar> <img src="{{chara.image}}"> </ion-avatar>
            </ion-item>
            <ion-card-content>
              <ion-item>
                <ion-label>{{chara.name}}</ion-label>
                <ion-input formControlName="name" type="text" required></ion-input>
                <span *ngIf="this.formChara.get('name')?.errors?.['required']"></span>
              </ion-item>
              <ion-item>
                <ion-label>{{chara.status}}</ion-label>
                <ion-input formControlName="status" type="text" required></ion-input>
                <span *ngIf="this.formChara.get('status')?.errors?.['required']"></span>
              </ion-item>
              <ion-item>
                <ion-label>{{chara.gender}}</ion-label>
                <ion-input formControlName="gender" type="text" required></ion-input>
                <span *ngIf="this.formChara.get('gender')?.errors?.['required']"></span>
              </ion-item>
              <ion-item>
                <ion-label>{{chara.species}}</ion-label>
                <ion-input formControlName="species" type="text" required></ion-input>
                <span *ngIf="this.formChara.get('species')?.errors?.['required']"></span>
              </ion-item>
            </ion-card-content>
            <ion-button color="success" (click)="onSubmit()">Agregar</ion-button>
          </ion-card>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>