ion-title {
    font-size: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: lighter;
    color: #fff;
}

ion-button {
    justify-content: center;
    width: 495px;
    border-width: 50px;
}

ion-content {
    --ion-background-color: #3e6777;
}