<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bienvenido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="justify-content: center; width: 75rem;">
    <img src="../../assets/logo.webp">
  </div>

  <div id="container">
    <strong style="border: 5pt; border-color:blue ;">¿Quién eres?</strong>
    <p>
      <ion-button expand="block" color="primary" (click)="onClick()">Haz Click aquí, si te identificas como un Usuario
        Común.</ion-button>
    </p>
    <p>
      <ion-button expand="block" color="success" (click)="onClickIsAdmin()">Haz Click aquí, si te identificas como un
        Usuario Administrador.</ion-button>
    </p>
  </div>
</ion-content>